[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[242C86072C85D3E8]
row=3
col=0

[5b2dad9f-00b1-4ef7-a0d4-e56013d2648d]
row=5
col=0

[AE3C63FC3C63BDC9]
row=2
col=0

[Trash]
row=4
col=0

[/]
row=0
col=0

[/home/adrien]
row=1
col=0

